h1 {
    color: #E52534
}

.logo {
    display: inline-block;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

.navlink {
    color: blue;
    align-content: center;
    margin-right: 20px;
}

body {
    background-color: #f2f3f4
}